<div class="container-fluid books-section">
    <div class="row">
        <div class="search">
            <input type="search" placeholder="Search book here..." class="form-control">
        </div>
    </div>
    <hr>

    <div class="allBooks">
        <div class="book-row">
            <div class="card" style="width: 18rem;">
                <span class="wishlist"><i class="fa fa-heart"></i></span>
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button class="btn btn-outline-success col-12 d-grid mx-auto">Add To Cart</button>
                </div>
              </div>
        </div>
    </div>

</div>



<!-- footer section  -->
<div class="footer fixed-bottom">
    <app-footer></app-footer>
</div>