
.container{
    padding: 10px;
}
.card{
    border-radius: 10px;
    margin-top: 10px;
}
.item-list{
    display: flex;
    justify-content: space-between;
    gap:50px;
}
.item_image img{
    width: 200px;
    height: 180px;
}

.item_price h6{
    margin-top: 40px;
}

.item-remove-button{
    margin-top: 5%;
}
.item-remove-button button{
    border-radius: 50px;
}

.checkout-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.grand-total{
    text-align: center;
}
