<div class="container-fluid">
    <div class="cart-items">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="item-list">
                        <div class="item_image">
                            <img src="../../../assets/book-logo.png" alt="">
                        </div>
                        <div class="item_name">
                            <h4>Product Name</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus vitae eius eligendi
                                dolores voluptas minus deserunt repudiandae amet consectetur officia natus quidem nulla
                                aut officiis delectus fugiat, ipsum quo nostrum repellendus facilis.</p>
                        </div>
                        <div class="item_price">
                            <h4>Price</h4>
                            <h6>45,000$</h6>
                        </div>
                        <div class="item-remove-button">
                            <button class="btn btn-outline-danger d-flex"><i class="fa fa-close mt-1"></i>&nbsp;Remove</button>
                        </div>
                    </div>
                </div>
            </div>     
            <hr>
            <div class="checkout-section">
                <div class="proceed-checkout">
                    <button class="btn btn-primary">Processed To CheckOut</button>
                </div>
                <div class="grand-total">
                    <h5>Grand Total</h5>
                    <hr>
                    <h6>9089$</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer section  -->
<div class="footer fixed-bottom">
    <app-footer></app-footer>
</div>